@use "../../../presets" as *;


.publications-header {

  &__grid {
    position: relative;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;

    display: grid;

  }

  &__logo {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    grid-area: publogo;

    &-image,
    &-slash,
    &-slashp {
      object-fit: contain;
    }
  }

  &__menu {
    grid-area: pubmenu;
  }

  &__actions {
    grid-area: pubactions;
  }

  &__title {
    color: #323264;

    font-size: 38px;
    font-weight: 400;
    line-height: 45px;
  }
}
